# USED FOR MYSQL DATABASE
MYSQL_DATABASE=YOUR8DATABASE_NAME
MYSQL_USER=YOUR_USER
MYSQL_PASSWORD=YOUR_SUPER_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=YOUR_SUPER_STRONG_PASSWORD


# USED FOR DJANGO SETTINGS DEV
DEBUG=TRUE_OR_FALSE
SECRET_KEY=YOUR_SECRET_DJANGO_KEY

# Folder used to save csv files => used ./data/ or change it
DATA_PATH="FOLDER"

# Variable used for Github oauth
GITHUB_CLIENT_ID='Enter_your_id'
GITHUB_CLIENT_SECRET='Enter_your_secret'
GITHUB_CALLBACK_URL='Enter_your_callback_url'


# Frontend URL
FRONTEND_URL="Enter_your_frontend_url"