backend/data/amazon_fr_en_review.csv filter=lfs diff=lfs merge=lfs -text
backend/data/claude_en.csv filter=lfs diff=lfs merge=lfs -text
backend/data/claude_fr.csv filter=lfs diff=lfs merge=lfs -text
backend/data/french_tweets.csv filter=lfs diff=lfs merge=lfs -text
backend/data/lechat_en.csv filter=lfs diff=lfs merge=lfs -text
backend/data/lechat_fr.csv filter=lfs diff=lfs merge=lfs -text
backend/data/allocine_french_review.csv filter=lfs diff=lfs merge=lfs -text
backend/data/chatgpt_en.csv filter=lfs diff=lfs merge=lfs -text
backend/data/chatgpt_fr.csv filter=lfs diff=lfs merge=lfs -text
backend/data/dataframe_en.csv filter=lfs diff=lfs merge=lfs -text
backend/data/dataframe_fr.csv filter=lfs diff=lfs merge=lfs -text

* text=auto eol=lf